body {
    background-color: brilliantwhite; 
}
#city-logo { 
    float: inline-end;
}

p {
    padding-left: 15%; padding-right: 15%; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;
}
h1 {
    color:rgb(185, 34, 227); background-color: "#f2c9e8";
}
h2 {
    color: rgb(54, 171, 114);
}
